html {
  scroll-behavior: smooth;
}

p {
  font-size: 1.05rem;
  line-height: 1.25em;
}

.jop {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}

.sub-berk {
  text-shadow: 2px 2px rgba(0,0,0,.514), 2px 2px 2px rgba(0, 0, 0, 0.267);
}

@media only screen and (max-width: 500px){
  .sub-berk {
    font-size: 6vw
  }
}
@media only screen and (min-width: 500px){
  .sub-berk {
    font-size: 1.5rem
  }
}
@media only screen and (min-width: 996px){
  .sub-berk {
    font-size: 2rem
  }
}

a.nav-link.active, .dropdown-item.active {
  color: rgba(255, 207, 145, 0.521)!important;
  box-shadow: none!important;
}

.rgba-black-strong {
  background-color: rgba(37, 37, 37, 0.562);
}

.nav-link, .navbar-brand, .dropdown-item, .custom {
  color: rgb(247, 156, 82) !important;
}

.custom-gradient {
  background-image: linear-gradient(40deg,#ff9c6e,#ffac2f)!important;
}

.triplet {
  height: 220px;
  max-width: 800px;
  margin: auto;
}

.triplet-img {
  background-size: cover;
  background-position: center;
}

.cal-img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border: 1px solid white;
}

.cal-inactive {
  background-color: rgba(255, 255, 255, 0.7)
}

.cal-inactive > p {
  color: rgb(116, 116, 116) !important;
}

/* -------------------------gallery */
.display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: .2rem;
}

.display-item {
  min-height: 7rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.356);
  overflow: hidden;
  transition: transform 200ms ease-out;
}

.display-item:hover {
  transform: scale(1.03);
}

.display-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 700ms ease-out;
}

.display-image:hover {
  transform: scale(1.05);
}

.bio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

.col-one {
  text-align: right;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    font-weight: 600;
    margin: 0;
}

.col-two {
    text-align: left;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin: 0;
    letter-spacing: .05em;
}

.list-group-item {
  background: none;
}

.md-accordion .card .card-header {
  border-bottom: 0;
  padding: .2rem;
  background: 0 0;
}

.endingsoon {
  left: -5%;
  font-weight: bold;
  width: 110%;
  background: rgba(223, 85, 85, 0.815);
  transform: rotate(-3deg);
  background-clip: content-box
}